<nav class="red darken-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">List</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="/">List</a></li>
        <li><a href="/create">Create</a></li>

      </ul>
    </div>
  </nav>