<form action="/create" method="POST">
    <h2>Добавить студента</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>ФИО студента</label>
    </div>

    <button type="submit" class="btn blue-grey lighten-3">Добавить</button>

</form>
