<form action="/" method="POST">

<style type="text/css">
   label { 
    font-size: 20px; 
    color: black;
   }
  </style>

<h2>Список студентов</h2>



{{#if list.length}}
<ul class>
    {{#each list}}
        <li class="list">
            <label>
                <span> {{title}} ..... {{mark}} </span>

                {{!-- <button class="btn btn-small">Сохранить</button> --}}
            </label>
        </li>

    {{/each}}
</ul>
<button type="submit" class="btn btn-small">Очистить</button>
{{else}}
<p>Нет студентов в списке</p>
{{/if}}

</form>